* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #D7E4FF;
}

h1{
  line-height: "200%";
  text-align: center;
}

a {
  color: #333;
  text-decoration: none;
  
}

.container {
  padding: 0 10%;  /*very light blue */
  position: relative;
 
  
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}

.checkBtn {
    margin-right: 15px;
    background: white;
    border: 1px solid gray;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    float:left;
}

.checkBtn:hover {
  background: #f4f4f4;
}

.checkBtn:hover:after{
  content:"";
  position: absolute;
  height: 7px;
  width: 13px;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
 
  transform: translate(37%, 75%) rotate(-45deg);
}

.checkDoneBtn {
  margin-right: 15px;
  background: darkgrey;
  border: 1px solid gray;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  float:left;
}

.checkDoneBtn:after{
  content:"";
  position: absolute;
  height: 7px;
  width: 13px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;

  transform: translate(37%, 75%) rotate(-45deg);
}

.checkDoneBtn:hover {
background: #f4f4f4;
}

.checkDoneBtn:hover:after{
content:"";
position: absolute;
height: 7px;
width: 13px;
border-left: 1px solid gray;
border-bottom: 1px solid gray;

transform: translate(37%, 75%) rotate(-45deg);
}